*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
}

.experience
{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.credits
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffffff;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.credits a
{
    color: inherit;
}

body{
    cursor: url(https://cdn.youngforever.fun/normal.cur),
        default;
}
img{
    cursor: url(https://cdn.youngforever.fun/normal.cur),
        default;
}
a{
    cursor: url(https://cdn.youngforever.fun/normal.cur),
        default;
}
div{
    cursor: url(https://cdn.youngforever.fun/normal.cur),
        default;
}
.home-link:hover {
    color: #cda296;  /* 鼠标悬停时变成浅灰色 */
}

.home-link {
    position: absolute;
    top: 13px !important;  /* 设置距离页面顶部14px */
    left: 15px;  /* 设置距离页面左侧20px */
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    z-index: 9999;  /* 确保返回按钮显示在其他元素之上 */
    font-weight: bold;
}