body{
    cursor: url(https://cdn.youngforever.fun/normal.cur),
        default;
}
img{
    cursor: url(https://cdn.youngforever.fun/normal.cur),
        default;
}
a{
    cursor: url(https://cdn.youngforever.fun/normal.cur),
        default;
}
div{
    cursor: url(https://cdn.youngforever.fun/normal.cur),
        default;
}